<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FlightFollowing" parallel="classes" verbose="1" thread-count="1">

 <test name="PollingTest">
 <classes>
 <class name="FlightFollowing.Polling" />
 </classes>
 </test>
 
  <test name="UnitDisplayTest">
 <classes>
 <class name="FlightFollowing.UnitDisplayOption" />
 </classes>
 </test>

  <test name="CurrentpagechecksTest">
 <classes>
 <class name="FlightFollowing.CurrentPageChecks" />
 </classes>
 </test>
 
  <test name="UnitVisibiltyTest">
 <classes>
 <class name="FlightFollowing.UnitVisibility" />
 </classes>
 </test>
 
</suite>


